# Force LF line ending for text files.
* text=auto

# Text files with forced CRLF line ending.
*.rc text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.def text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.sln text eol=crlf
*.props text eol=crlf
*.csproj text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
