/*
RTCW: Unofficial source port of Return to Castle Wolfenstein and Wolfenstein: Enemy Territory
Copyright (C) 1999-2010 id Software LLC, a ZeniMax Media company.
Copyright (c) 2012-2025 Boris I. Bendovsky (bibendovsky@hotmail.com) and Contributors
SPDX-License-Identifier: GPL-3.0
*/

// ==========================================================================
// Language

#define LANG_ENGLISH 0x09
#define SUBLANG_ENGLISH_US 0x01

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


// ==========================================================================
// Manifest

#define RT_MANIFEST 24

1 RT_MANIFEST "rtcw.manifest"


// ==========================================================================
// Main icon

#define IDI_ICON1 1

#ifdef RTCW_SP
#define RTCW_RC_ICON_FILE_NAME "rtcw_sp.ico"
#endif

#ifdef RTCW_MP
#define RTCW_RC_ICON_FILE_NAME "rtcw_mp.ico"
#endif

#ifdef RTCW_ET
#define RTCW_RC_ICON_FILE_NAME "rtcw_et.ico"
#endif

IDI_ICON1 ICON DISCARDABLE RTCW_RC_ICON_FILE_NAME
